/* card1.css */
.card1 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    transition: transform 0.3s ease; /* Transición para el efecto hover */
}

.card1:hover {
    transform: translateY(-5px); /* Levantar la tarjeta 5px al pasar el mouse */
}

.card1 img {
    width: 100%;
    height: auto;
    padding: 10px; /* Padding alrededor de la imagen */
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    margin: 0 0 10px;
}

.card-content p {
    margin: 0;
    color: #666;
}
