.error404-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: rgba(44, 64, 97, 0.99);
    color: white;
    font-family: 'Bebas Neue', sans-serif;
}

.error404-container h1 {
    font-size: 10em;
    margin: 0;
    text-shadow: 2px 4px 4px black;
}

.error404-container h2 {
    font-size: 2em;
    margin: 20px 0;
}

.error404-container p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.go-home-button {
    font-size: 1.2em;
    padding: 10px 20px;
    color: #ffc87b;
    background-color: rgba(44, 64, 97, 0.99);
    border: 2px solid #ffc87b;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.go-home-button:hover {
    background-color: #ffc87b;
    color: rgba(44, 64, 97, 0.99);
}
