#features {
    background: #f9f9f9;
    text-align: center;
    min-height: 100vh;
    font-family: 'Philosopher', sans-serif;
    color: #333;
    padding-bottom: 20px;
}

#features h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #222;
}

.features-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.feature-column {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 350px;
    text-align: left;
    position: relative;
}

.feature-column h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #27ae60;
}

.feature-column ul {
    height: 100%;
    max-height: 300px;
    list-style-type: none;
    padding: 0;
}

.feature-column li {
    font-size: 1.2em;
    margin: 15px 0;
    position: relative;
    padding-left: 30px;
    line-height: 1.5;
}

.feature-column li::before {
    content: "✓";
    color: #27ae60;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.feature-image {
    padding: 20px;
    display: block;
    margin: 20px auto 0;
    max-width: 50%;
    height: auto;
}

.contact-button {
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

.contact-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #27ae60;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.contact-button a:hover {
    background-color: #219150;
}
:root {
    --animate-duration: 1s; /* Puedes ajustar la duración según tu preferencia */
}

.feature-column:nth-child(1) .feature-image {
    --animate-delay: 0s;
}

.feature-column:nth-child(2) .feature-image {
    --animate-delay: 5s;
}

.feature-column:nth-child(3) .feature-image {
    --animate-delay: 10s;
}
.feature-image {
    animation: animate__headShake infinite;
    animation-duration: var(--animate-duration);
    animation-play-state: paused;
}
