/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden; /* Evita el scroll horizontal */
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container-links-app, .container-section-app {
    width: 100%;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

/* Revisa los estilos específicos para asegurarte de que no haya desbordamiento */
section {
    width: 100vw; /* Asegura que las secciones no se desborden del viewport */
    overflow-x: hidden;
}
