@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

#hero {
    height: 100vh;
    background-color: rgba(44, 64, 97, 0.99);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    overflow: hidden; /* Asegura que no haya scroll */
}

.hero-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

#hero .left-content,
#hero .right-content {
    padding: 25px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .text-box {
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}

.logo-text {
    font-family: 'Blanka-Regular', Arial, sans-serif;
    font-weight: 400;
    font-size: 5em;
    color: white;
    text-shadow: 1px 1px 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icon {
    font-size: 0.8em;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    left: 130%;
    transform: translate(-50%, -50%);
}

.text-logo-2 {
    right: 30px;
}

#hero h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 100px;
    font-style: normal;
    margin: 0;
    color: white;
    text-shadow: 1px 1px 5px black;
}

#hero h3 {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    margin: 0;
    margin-top: 20px;
    color: #ffc87b;
    text-shadow: 2px 4px 4px black;
}

#hero .logo-container {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-down-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bounce 2s infinite;
    margin-bottom: 20px;
}

.arrow-text {
    font-size: 1em;
    color: #ffc87b;
    margin-bottom: -20px;
}

.arrow-down {
    font-size: 5em; /* Tamaño del icono de la flecha aumentado */
    color: #ffc87b;
}

/* Breakpoints para dispositivos más pequeños */
@media (max-width: 1200px) {
    #hero h2 {
        font-size: 80px;
    }
    #hero h3 {
        font-size: 50px;
    }
}

@media (max-width: 992px) {
    #hero h2 {
        font-size: 80px;
    }
    #hero h3 {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
        justify-content: center; /* Centramos el contenido */
    }
    #hero .left-content,
    #hero .right-content {
        padding: 10px; /* Reducimos el padding */
    }
    #hero h2 {
        font-size: 50px; /* Ajustar tamaño de fuente para móviles */
    }
    #hero h3 {
        font-size: 30px; /* Ajustar tamaño de fuente para móviles */
        text-align: center;
    }
    .logo-text {
        font-size: 4em;
    }
}

@media (max-width: 576px) {
    #hero h2 {
        font-size: 40px; /* Ajustar tamaño de fuente para móviles */
    }
    #hero h3 {
        font-size: 25px; /* Ajustar tamaño de fuente para móviles */
        text-align: center;
    }
    .logo-text {
        font-size: 3em;
    }
}

@media (max-width: 400px) {
    #hero h2 {
        font-size: 30px; /* Ajustar tamaño de fuente para móviles */
    }
    #hero h3 {
        font-size: 20px; /* Ajustar tamaño de fuente para móviles */
        text-align: center;
    }
    .logo-text {
        font-size: 2em;
    }
}
